<header class="flex bg-luora h1 justify-between text-white py-5 px-10">
  <h1 class="text-2xl font-black uppercase">Lujim</h1>
  <ul class="flex gap-4">
    <li>About</li>
    <li>Blog</li>
    <li>Contact me</li>
  </ul>
</header> 