<h2>A little more about myself</h2>

<p> I'm a Full-Stack Developer with a passion for solid architecture, intuitive user experiences, and solid documentation.</p>
<p>I like to dive deep into new topics and learn more about how they work, then doing my best to create something new with it. I enjoy hiking, calisthenics, chinese and korean novels and urbanism-related content.</p>
<p>I'm looking forward to creating something meaningful and even better if I do it with a reliable team.</p>
<p> Do you have something in mind?</p>