<h1 class="bg-sky-700 text-white text-2xl">
Hello! I'm Luis
Glad to see you!
</h1>

<p>
I am a software developer! I can help you build a product, feature or website. Look through some of my work and experience! If you like what you see and have a project you need coded, don’t hesitate to contact me.
</p>