<section class="container mx-auto flex flex-col text-lublu w-screen px-24 py-12 border border-lual mt-20" id="home">
        <h1 class="text-7xl font-bold py-5">
          I'm Luis <br>Glad to see you!
        </h1>
        <div class="header-content">
          <p class="py-8">I'm a Full-Stack Developer and I like to craft solid and scalable applications with great documentation and thorough testing. If you are interested in building something great, contact me!</p>
          <h2 class="connect py-2"> <a href="#">Let's connect</a></h2>
          <ul class="flex">
            <li><a href="https://twitter.com/lujimhe" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-twitter"></i></i> </li>
            <li><a href="https://www.linkedin.com/in/lujim/" target="_blank" rel="noopener noreferrer">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            <li><a href="https://medium.com/@lu.jim" target="_blank" rel="noopener noreferrer">
                <i class="fa fa-medium" aria-hidden="true"></i></a></li>
            <li><a href="https://github.com/lu-jim" target="_blank" rel="noopener noreferrer">
                <i class="fa fa-github" aria-hidden="true"></i></a></li>
            <li><a href="https://angel.co" target="_blank" rel="noopener noreferrer">
                <i class="fa fa-angellist" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </section>
